@import "tailwindcss";

html {
  interpolate-size: allow-keywords;
  color-scheme: dark;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  background-color: aliceblue;
  color: #1b1b1b;
}

body.dark {
  background-color: #1b1b1b;
  color: #f2f2f2;
}
